<h1><%= @recipe.name %></h1>

<h3>Ingredients</h3>
<p><%= @recipe.ingredients %></p>

<h3>Cook Time</h3>
<p><%= @recipe.cook_time %></p>

<p>
  <a href="/recipes/<%= @recipe.id %>/edit">EDIT</a> |
  <a href="/recipes/<%= @recipe.id %>/delete">DELETE</a>
</p>

<form class="" action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
</form>
